.share{
    background-color: white;
    height: 170px;
    margin:50px;
    border-radius: 10px;
    box-shadow: 0px 2px 83px -56px rgba(0,0,0,1);
-webkit-box-shadow: 0px 2px 83px -56px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 83px -56px rgba(0,0,0,1);
}

.shareWrapper{
    padding: 10px;
}

.shareProfileImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px
}

.shareInput{
    border:none;
    width: 80%;
}

.shareInput:focus{
    outline:none;
}

.shareHr{
    margin: 20px;
}

.shareBottom{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display:flex;
    margin-left: 18px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor:pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    margin-left: 5px;
}

.shareButton{
    transform: translateY(-27px);
    border:none;
    padding: 7px;
    border-radius: 5px;
    background-color:darkgray;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 30px;
    cursor: pointer;
}
