*{
  margin: 0;
}

.app{
  display:grid;
  place-items: center;
  height: 100vh;
  background-color: lightblue;
}

.app_body{
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 120vh;

}

.sidebar_header_left {
  
}
.sidebar_header_right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}