.sidebar{
    position: sticky;
    align-items: center;
}
.sidebarWrapper {
    position: sticky;

    margin:20px;
    padding:0;
    align-items: center;
    width: 270px;
    background-color: #f4f4f4; 
    border-radius: 16px;

}



.sidebarListItem {
    display: flex;
    align-items: center;
    font-size: 17px;
    background-color: #fff;
    width: 200px;
    padding:5px;
    border-radius: 12px;
    height:50px;
    border:none;
    margin-top: 0px;
    margin-bottom: 0px;

}

.sidebarIcon {
    margin-right: 15px;
    color: #555; 
}

.sidebarLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.sidebarListItem:hover {
    text-decoration: none;
    background-color: #d1d1d1;
}

.sidebarListItemText {
    font-size: 18px;
    color: #333; 
}
