.homeContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    flex: 1;
    max-width: 250px; 
}

.feed {
    display: flex;
    margin-left: 20px; 
}

.rightbar {
    flex: 1;
    max-width: 250px; 
}

.feedWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}